@charset "utf-8";

.inline {
    display: inline;
}

/* CSS Document */
.jf-ObjectBrace {
    color: #00AA00;
    font-weight: bold;
}
.jf-ArrayBrace {
    color: #0033FF;
    font-weight: bold;
}
.jf-PropertyName {
    color: #CC0000;
    font-weight: bold;
}
.jf-String {
    color: #007777;
}
.jf-Number {
    color: #AA00AA;
}
.jf-Boolean {
    color: #0000FF;
}
.jf-Null {
    color: #0000FF;
}
.jf-Comma {
    color: #000000;
    font-weight: bold;
}
pre.jf-CodeContainer {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

ul.navbar-right li {
    margin: auto 1px;
}

div.content {
    padding-top: 65px;
}

div.content-left {

}

div.content-right {
    padding-top: 5px;
    min-height: 500px;
    background: rgb(255, 251, 232);
}

div.panel {
    margin: 3px auto;
}

td {
    text-align: center;
    vertical-align: middle;
}

.form-inline .form-group {
    margin-right: 5px;
}

#bm_n, #bm_c {
    width: 8em;
}

#result_test_panel, #result_test_panel, #result_header_panel {
    margin: 5px auto;
    width: 100%;
}

.margin-right-sm {
    margin-right: 4px;
}

#enctype_left {
    height: 41px;
    line-height: 41px;
}